@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

   
h1{
    border: 8px solid black;
    border-radius: 15px;
    text-align: center;
    width:400px;
    margin: 20px auto;


}
body{
  font-family: "Montserrat", "sans-serif";
}

.heading{
    color:rgb(9, 130, 9);
}

.sub{
    background-color:#cdcdcd;
}
.spann{
    background-color:rgb(94, 224, 94);
}